<ion-tabs #loginTabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="login">
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-label>Register</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>