<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="requests"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Oferte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="request">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" readOnly="true">{{ request.title }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Short Desc</ion-label>
      <ion-input type="text" readOnly="true">{{ request.shortDesc }}</ion-input>
    </ion-item>

    <div *ngIf="request.volunteers">
      <ion-card *ngFor="let volunteer of request.volunteers">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-title style="cursor: pointer;" (click)="viewProfile(volunteer.uid)">{{ volunteer.name }}
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row padding>
            <ion-col>
              About me: <br> {{ request.bio }}
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="selectVolunteer(volunteer.uid)" color="success">Accept</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngIf="!request.volunteers" style="text-align:center">
      <br><br><br>
      <p>No volunteers yet. Please try again later</p>
    </div>
  </div>
</ion-content>