<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button title="Menu"></ion-menu-button>
    </ion-buttons>
    <ion-title tabindex="1">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label padding>Blocked</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let user of blocked; index as i;">
      <span tabindex="4" title="item number {{ i }}"></span>
      <ion-avatar slot="start" (click)="viewUser(user)">
        <img src="{{ user.photoURL }}">
      </ion-avatar>
      <ion-label (click)="viewUser(user)">{{ user.email }}</ion-label>
      <ion-toggle slot="end" [checked]="true" (ionChange)="toggleBlocedkUser(user)"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label padding>Friends</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let user of friends; index as i;">
      <span tabindex="4" title="item number {{ i }}"></span>
      <ion-avatar slot="start" (click)="viewUser(user)">
        <img src="{{ user.photoURL }}">
      </ion-avatar>
      <ion-label (click)="viewUser(user)">{{ user.email }}</ion-label>
      <ion-toggle slot="end" [checked]="true" (ionChange)="toggleMakeFriend(user)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>