<ion-tabs #volunteerTabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="volunteer-home">
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="volunteer-accepted">
      <ion-label>Accepted Requests</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>