<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="volunteer-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="request">
    <ion-card-header>
      <ion-card-subtitle>{{request.shortDesc}}</ion-card-subtitle>
      <ion-card-title>{{request.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{request.description}}
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Pick up address:</ion-label>
      <ion-label>{{request.pickupFrom}}</ion-label>
    </ion-item>
    <ion-item href="#" class="activated">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Destination address:</ion-label>
      <ion-label>{{request.where}}</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="clock" slot="start"></ion-icon>
      <ion-label>Deadline:</ion-label>
      <ion-label>{{request.deadline | date: 'medium'}}</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="clock" slot="start"></ion-icon>
      <ion-label>When:</ion-label>
      <ion-label>{{request.when | date: 'medium'}}</ion-label>
    </ion-item>
  </ion-card>



</ion-content>