<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button title="Menu"></ion-menu-button>
    </ion-buttons>
    <ion-title tabindex="1">
      Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button padding tabindex="2" (click)="add()" expand="block" color="primary">Add new request</ion-button>
  <br>
  <span tabindex="3" title="list with {{ requests ? requests.length : 0 }} items"></span>
  <div *ngIf="requests">
    <ion-card *ngFor="let request of requests; index as i;">
      <span tabindex="4" title="item number {{ i }}"></span>
      <ion-card-header>
        <ion-card-subtitle>{{ request.shortDesc }}</ion-card-subtitle>
        <ion-card-title>{{ request.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>
          {{ request.when | date: 'fullDate' }} {{ request.when | date: 'shortTime' }}
        </ion-label>
        <ion-label>
          at {{ request.where }}
        </ion-label> <br>
        <ion-label>{{request.status}}</ion-label>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="request.status == 'Waiting for Volunteers'" expand="block" color="success"
            (click)="viewOffers(request)">View Volunteers</ion-button>
          <ion-button *ngIf="request.status == 'Volunteer Selected'" expand="block" color="success">
            <a href="tel:{{request.phoneNumber}}">Call Volunteer</a>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="request.status == 'Volunteer Selected'" expand="block" (click)="markAsCompleted(request)"
            color="primary">Mark as completed</ion-button>
          <ion-button *ngIf="request.status != 'Volunteer Selected'" expand="block" color="danger"
            (click)="delete(request)">Remove</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>