<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="requests"></ion-back-button>
    </ion-buttons>
    <ion-title tabindex="1" title="{{ getTitle() }}">
      {{ getTitle() }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="requestForm">
    <form [formGroup]="requestForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" title="Title">Title</ion-label>
          <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Short Description</ion-label>
          <ion-input formControlName="shortDesc" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">When</ion-label>
          <ion-datetime formControlName="when" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Where</ion-label>
          <ion-input formControlName="where" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Pickup from</ion-label>
          <ion-input formControlName="pickupFrom" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Accept deadline</ion-label>
          <ion-datetime formControlName="deadline" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label title="Urgent">Urgent</ion-label>
          <ion-toggle formControlName="urgent"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label title="Friends Only">Friends Only</ion-label>
          <ion-toggle formControlName="friendsOnly"></ion-toggle>
        </ion-item>
      </ion-list>
    </form>
    <!-- <ion-button (click)="saveForLater()" color="primary" shape="full" expand="block">Save for later</ion-button> -->
    <ion-button (click)="send()" color="primary" shape="full" expand="block">Save</ion-button>
  </div>
</ion-content>