<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profileForm" *ngIf="user">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input readonly>{{user.email}}</ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Role</ion-label>
          <ion-input readonly>{{user.role}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Bio</ion-label>
        <ion-input formControlName="bio" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input formControlName="phone" type="text">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="signup">
      <ion-col>
        <ion-button (click)="onSubmit()" color="primary" shape="full" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>