<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Public Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user">
    <ion-item *ngIf="!hideFavoriteBlocked">
      <ion-label position="stacked">Favorite</ion-label>
      <ion-toggle slot="end" [(ngModel)]="favorite" (ionChange)="toggleFavorite()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!hideFavoriteBlocked">
      <ion-label position="stacked">Block</ion-label>
      <ion-toggle slot="end" [(ngModel)]="blocked" (ionChange)="toggleBlocked()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input readOnly="true" type="text">{{ user.name }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input readOnly="true" type="text">{{ user.email }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <ion-input readOnly="true" type="text">{{ user.role }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-input readOnly="true" type="text">{{ user.bio }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input readOnly="true" type="text">{{ user.phone }}</ion-input>
    </ion-item>
  </ion-list>

</ion-content>