<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="text">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="signup">
      <ion-col>
        <ion-button (click)="onSubmit()" color="primary" shape="full" expand="block">Next</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>