<ion-header>
  <ion-toolbar>
    <ion-title>Complete Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Bio</ion-label>
        <ion-input formControlName="bio" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input formControlName="phone" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Role</ion-label>
        <ion-select formControlName="role" placeholder="Select One">
          <ion-select-option value="Beneficiary">Beneficiary</ion-select-option>
          <ion-select-option value="Volunteer">Volunteer</ion-select-option>
          <ion-select-option value="Admin">Admin</ion-select-option>
          <ion-select-option value="Event Organizer">Event Organizer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-row class="submit">
      <ion-col>
        <ion-button (click)="onSubmit()" color="primary" shape="full" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>