<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        NOT_USED_Events
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
Events
</ion-content>
