<ion-tabs #homeTabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="requests">
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-label>Events</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
