<ion-header>
    <ion-toolbar>
        <ion-title title="Login" tabindex="0">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm">

        <ion-list>
            <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input formControlName="username" type="text">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input formControlName="password" type="text">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row class="signin">
            <ion-col>
                <ion-button (click)="onSubmit()" color="primary" shape="full" expand="block">Sign In</ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="signin">
            <ion-col>
                <ion-button (click)="googleLogin()" color="primary" shape="full" expand="block">Google Sign In
                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>