<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button title="Menu"></ion-menu-button>
    </ion-buttons>
    <ion-title tabindex="1">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="{{ 'SEARCH' }}" debounce="1000" [(ngModel)]="filter" (ionChange)="onSearch()">
  </ion-searchbar>
  <ion-segment (ionChange)="segmentChanged($event.detail.value)" value="notApproved">
    <ion-segment-button value="approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notApproved">
      <ion-label>Not Approved</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item *ngFor="let user of users; index as i;">
      <span tabindex="4" title="item number {{ i }}"></span>
      <ion-avatar slot="start" (click)="viewUser(user)">
        <img src="{{ user.photoURL }}">
      </ion-avatar>
      <ion-label (click)="viewUser(user)">{{ user.email }}</ion-label>
      <ion-icon title="{{ user.role }}" [name]="getIcon(user.role)"></ion-icon>
      <ion-toggle [disabled]="user.role == 'Admin'" slot="end" [checked]="user.approved" (ionChange)="approveToggle(user)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
