<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event.detail.value)" value="urgent">
    <ion-segment-button value="urgent">
      <ion-label>Urgent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="noVolunteers">
      <ion-label>No Volunteers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div style="text-align:center" *ngIf="!requests || requests.length == 0">
    <br><br><br>
    <p>No requests for now. Please try again later</p>
  </div>
  <ion-card *ngFor="let request of requests">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>{{ request.title }}</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-card-title style="cursor: pointer;" (click)="viewUser(request.uid)">{{ request.name }}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>{{ request.shortDesc }}</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Pickup location: {{ request.pickupFrom }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{ request.when | date: 'fullDate' }} {{ request.when | date: 'shortTime' }}
        </ion-col>
        <ion-col>
          Destination: {{ request.where }}
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row padding *ngIf="request.showMore">
      <ion-col>
        Description: <br> {{ request.description }}
      </ion-col>
      <ion-col>
        About me: <br> {{ request.bio }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="acceptRequest(request)" color="success">Accept</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="showMore(request)" color="primary">Show more</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>



</ion-content>