<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accepted Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event.detail.value)" value="accepted">
    <ion-segment-button value="accepted">
      <ion-label>Accepted</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let request of requests">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>{{ request.title }}</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-card-title>{{ request.name }}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>{{ request.shortDesc }}</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Pickup location: {{ request.pickupFrom }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{ request.when | date: 'fullDate' }} {{ request.when | date: 'shortTime' }}
        </ion-col>
        <ion-col>
          Destination: {{ request.where }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Phone: {{ request.phoneNumber }}
        </ion-col>
        <ion-col>
          Email: {{ request.email }}
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success">
          <a href="tel:{{request.phoneNumber}}">Call Volunteer</a>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="markAsCompleted(request)" color="primary">Mark as completed</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>