<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-textarea *ngIf="isSaveVisible()" placeholder="Enter info..." [(ngModel)]="info"></ion-textarea>
  <ion-textarea readOnly="true" *ngIf="!isSaveVisible()">{{ info }}</ion-textarea>
  <ion-button *ngIf="isSaveVisible()" (click)="onSubmit()" color="primary" shape="full" expand="block">Update
  </ion-button>
</ion-content>